@page "/demohotel"

<h3>We will display hotel rooms and amenitites here!</h3>
<div class="container bg-light">
    <h3 class="text-info">Room List [USING COMPONENT]</h3>

    <h4 class="text-info">Hotel Rooms</h4>
    <div class="row">

        @foreach (var room in RoomsList)
        {
            <IndividualRoom Room="@room"></IndividualRoom>
        }
    </div>

    <h4 class="text-info">Hotel Amenities</h4>
    <div class="row">

        @foreach (var amenity in AmenitiesList)
        {
            <IndividualAmenities Amenity="@amenity"></IndividualAmenities>
        }
    </div>
</div>


@code {        
    List<BlazorRoom> RoomsList = new List<BlazorRoom>();
    List<BlazorAmenities> AmenitiesList = new List<BlazorAmenities>();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        RoomsList.Add(
            new BlazorRoom
            {
                Id = 101,
                RoomName = "King Suite",
                Price = 100.00,
                IsActive = true,
                RoomProps = new List<BlazorRoomProp> {
                    new BlazorRoomProp { Id = 1, Name = "Sq Ft", Value = "100" },
                    new BlazorRoomProp { Id = 2, Name = "Occupancy", Value = "3" }
                }
            });
        RoomsList.Add(
            new BlazorRoom
            {
                Id = 102,
                RoomName = "Queen Suite",
                Price = 70.00,
                IsActive = false,
                RoomProps = new List<BlazorRoomProp> {
                        new BlazorRoomProp { Id = 3, Name = "Sq Ft", Value = "70" },
                        new BlazorRoomProp { Id = 4, Name = "Occupancy", Value = "2" }
                    }
            });

        AmenitiesList.Add(
            new BlazorAmenities
            {
                Id = 111,
                Name = "Gym",
                Description = "24x7 gym room is available."
            });
        AmenitiesList.Add(
            new BlazorAmenities
            {
                Id = 222,
                Name = "Swimming Pool",
                Description = "Pool room is open from 6am to 10pm."
            });
        AmenitiesList.Add(
            new BlazorAmenities
            {
                Id = 333,
                Name = "Free breakfast",
                Description = "Enjoy free breakfast at our hotel."
            });
    }
}
