@page "/demohotel"

<h3>We will display hotel rooms and amenitites here!</h3>
<div class="container bg-light">
    <h3 class="text-info">Room List [USING COMPONENT]</h3>

    <h4 class="text-info">Hotel Rooms</h4>
    <p>Selected Rooms: @SelectedRoomsCount</p>
    <div class="row">

        @foreach (var room in RoomsList)
        {
            <IndividualRoom Room="@room" OnRoomCheckBoxSelection="SelectedRoomsCounterChanged"></IndividualRoom>
        }
    </div>

    <h4 class="text-info">Hotel Amenities</h4>
    <div class="row">

        @foreach (var amenity in AmenitiesList)
        {
            <IndividualAmenities Amenities="@amenity" OnAmenitySelection="AmenitySelectionChanged">
                <FragmentOne>#1</FragmentOne>
                <FragmentTwo>#2</FragmentTwo>
            </IndividualAmenities>
        }
    </div>
    <p>Selected Amenity: @SelectedAmenity</p>
</div>


@code {        
    public int SelectedRoomsCount { get; set; } = 0;
    public string SelectedAmenity { get; set; }

    List<BlazorRoom> RoomsList = new List<BlazorRoom>();
    List<BlazorAmenities> AmenitiesList = new List<BlazorAmenities>();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        RoomsList.Add(
            new BlazorRoom
            {
                Id = 101,
                RoomName = "King Suite",
                Price = 100.00,
                IsActive = true,
                RoomProps = new List<BlazorRoomProp> {
                    new BlazorRoomProp { Id = 1, Name = "Sq Ft", Value = "100" },
                    new BlazorRoomProp { Id = 2, Name = "Occupancy", Value = "3" }
                }
            });
        RoomsList.Add(
            new BlazorRoom
            {
                Id = 102,
                RoomName = "Queen Suite",
                Price = 70.00,
                IsActive = false,
                RoomProps = new List<BlazorRoomProp> {
                        new BlazorRoomProp { Id = 3, Name = "Sq Ft", Value = "70" },
                        new BlazorRoomProp { Id = 4, Name = "Occupancy", Value = "2" }
                    }
            });

        AmenitiesList.Add(
            new BlazorAmenities
            {
                Id = 111,
                Name = "Gym",
                Description = "24x7 gym room is available."
            });
        AmenitiesList.Add(
            new BlazorAmenities
            {
                Id = 222,
                Name = "Swimming Pool",
                Description = "Pool room is open from 6am to 10pm."
            });
        AmenitiesList.Add(
            new BlazorAmenities
            {
                Id = 333,
                Name = "Free breakfast",
                Description = "Enjoy free breakfast at our hotel."
            });
    }

    protected void SelectedRoomsCounterChanged(bool isSelected)
    {
        if (isSelected)
        {
            SelectedRoomsCount++;
        }
        else
        {
            SelectedRoomsCount--;
        }
    }

    protected void AmenitySelectionChanged(string amenityName)
    {
        SelectedAmenity = amenityName;
    }
}
