@page "/ParentComponent"

<h1 class="text-danger">Parent Child Component</h1>

<ChildComponent Title="This title is passed as parameter from Parent Component" OnClickBtnMethod="ShowMessage">
    <ChildContent>Render Fragment From Parent! WooHOO!</ChildContent>
    <DangerChildContent>Danger Content from Render Fragment! WooHOO!</DangerChildContent>
</ChildComponent>

<AnotherChildComponent InputAttributes="InputAttributesFromParent"></AnotherChildComponent>

<p><b>@messageText</b></p>

@code {
    private string messageText = "";

    public Dictionary<string, object> InputAttributesFromParent { get; set; } = new Dictionary<string, object>()
    {
        { "placeholder", "Placeholder Text from parent" },
        { "required", "required" },
        { "maxlength", "5" }
    };

    protected void ShowMessage(MouseEventArgs e)
    {
        messageText = "Blazzing text from parent";
    }
}
