@page "/ParentComponent"

<h1 class="text-danger">Parent Child Component</h1>

<ChildComponent Title="This title is passed as parameter from Parent Component" OnClickBtnMethod="ShowMessage">
    Render Fragment From Parent! WooHOO!
</ChildComponent>

<p><b>@messageText</b></p>

@code {
    private string messageText = "";

    protected void ShowMessage(MouseEventArgs e)
    {
        messageText = "Blazzing text from parent";
    }
}
