@page "/ParentComponent"

<h1 class="text-danger">Parent Child Component</h1>

<ChildComponent Title="This title is passed as parameter from Parent Component">
    Render Fragment From Parent! WooHOO!
</ChildComponent>

<ChildComponent Title="This is the second component title">
    
</ChildComponent>

@code {

}
