@page "/ParentComponent"

<h1 class="text-danger">Parent Child Component</h1>

<ChildComponent Title="This title is passed as parameter from Parent Component" OnClickBtnMethod="ShowMessage">
    <ChildContent>Render Fragment From Parent! WooHOO!</ChildContent>
    <DangerChildContent>Danger Content from Render Fragment! WooHOO!</DangerChildContent>
</ChildComponent>

<AnotherChildComponent Placeholder="Enter the Room Name From" MaxLenth="5" Required="required"></AnotherChildComponent>

<p><b>@messageText</b></p>

@code {
    private string messageText = "";

    protected void ShowMessage(MouseEventArgs e)
    {
        messageText = "Blazzing text from parent";
    }
}
