
<div class="col-5 bg-light m-1 border border-info" @onclick="(args) => AmenitySelectionChanged(args, Amenities.Name)">
    <h5 class="text-secondary">Amenity - @Amenities.Id</h5>
    @Amenities.Name <br />
    @Amenities.Description<br />
    @if (FragmentOne != null || FragmentTwo != null)
    {
        <span>RF from Parent - @FragmentOne @FragmentTwo</span> 
    }
</div>

@code {
    [Parameter]
    public BlazorAmenities Amenities { get; set; }

    [Parameter]
    public EventCallback<string> OnAmenitySelection { get; set; }

    [Parameter]
    public RenderFragment FragmentOne { get; set; }
    [Parameter]
    public RenderFragment FragmentTwo { get; set; }

    public bool IsSelected { get; set; }

    protected async Task AmenitySelectionChanged(MouseEventArgs e, string name)
    {
        await OnAmenitySelection.InvokeAsync(name);
    }
}