
<div class="col-5 bg-light m-1 border border-info">
    <h5 class="text-secondary">Amenity - @Amenity.Id</h5>
    @Amenity.Name <br />
    @Amenity.Description<br />
</div>

@code {
    [Parameter]
    public HotelAmenity Amenity { get; set; }
}