<h3>Lifecycle Child Component</h3>


<div class="col-6">
    <table class="table table-sm table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Event</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < EventType.Count; i++)
            {
                <tr>
                    <td scope="row">@(i+1)</td>
                    <td scope="row">@EventType[i]</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public int CounterValue { get; set; }

    private List<string> EventType = new List<string>();

    protected override void OnInitialized()
    {
        EventType.Add("Child - OnInitialized called");
    }

    protected override void OnParametersSet()
    {
        EventType.Add("Child - OnParametersSet called");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        // This gets added to the list but it's not rendered on this iteration
        // because the DOM is already rendered at the point of calling this method.
        // This function is called after the rendering is done.
        EventType.Add("Child - OnAfterRender called");
    }
}